<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl mx-auto my-6">Members List</h1>
    <div class="h-[1px] bg-gray-700 w-full mb-4"></div>
    <% members.map((member) => { %>
        <% const initial = member.first_name[0] + '' + member.last_name[0] %>
        <div class="flex my-4 py-4">
            <div class="mr-4 shrink-0 self-center">
                <span class="inline-flex size-14 items-center justify-center rounded-full bg-gray-500">
                    <span class="text-xl font-medium text-white"><%= initial %></span>
                </span>
            </div>
            <div class="w-full">
                <h4 class="text-lg font-bold"><%= member.username %></h4>
                <p class="mt-1 text-md/6 text-gray-900">Status: 
                    <% if (member.membership_status === true) { %>
                        <%= "Verified" %>
                    <% } else { %>
                        <%= "Not Verified" %>
                    <% } %>
                </p>
            </div>
        </div>
    <% }) %>
</div>