<div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Content goes here -->
    <h1 class="text-3xl mx-auto my-10">Message Center</h1>
    <div class="h-[1px] bg-gray-700 w-full mb-4"></div>
    <%- include('messages/message') %>
</div>
