<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Content goes here -->
    <h1 class="text-3xl mx-auto my-10">Secret Center</h1>
    <div class="h-[1px] bg-gray-700 w-full mb-4"></div>
    <% if (locals.user) { %>
        <form action="/secrets" method="POST" class="space-y-6">
            <label for="secret" class="text-md font-medium text-gray-900">Secret</label>
            <div class="mt-2">
                <input type="password" placeholder="Did you find the secret? - Hint Check Developer Tools" name="secret" id="secret" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
            <div>
                <button class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" type="submit">Verify</button>
            </div>
        </form>
        <!-- 
        /////// SECRET ///////
        I’m a land of Varrock, Falador, and more,
        Where skills like cooking, mining, and woodcutting soar.
        With quests and memories from days of old,
        A world of adventure, for both young and bold.

        What am I? (One word answer)
        -->
    <% } else { %>
        <div>
            <h1 class="mt-10 text-3xl font-semibold">Welcome to <i class="font-thin">Message Center!</i></h1>
            <br>
            <p class="text-md">Please <a class="text-indigo-600 hover:text-indigo-500 font-semibold" href="/sign-up">Sign up</a> or <a href="/sign-in" class="font-semibold text-indigo-600 hover:text-indigo-500">Sign In</a> to not only see messages but post messages yourself!</p>
            <br>
            <p class="text-md">Thank you so much for checking out this application! This site was built using Express, EJS, Tailwind, Passport, Bcrypt, SQL, and Express-Validation.</p>
            <br>
            <p class="text-md">Sincerely, Bryan!</p>
        </div>
    <% } %>
</div>
<script src="/js/secret.js"></script>