<div class="flex my-4 py-4">
    <div class="mr-4 shrink-0 self-center">
        <span class="inline-flex size-14 items-center justify-center rounded-full bg-gray-500">
            <span class="text-xl font-medium text-white">BF</span>
        </span>
    </div>
    <div>
        <h4 class="text-lg font-bold">Lorem ipsum</h4>
        <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
    </div>
</div>

<!-- Additional for testing -->
<div class="flex my-4 py-4">
    <div class="mr-4 shrink-0 self-center">
        <span class="inline-flex size-14 items-center justify-center rounded-full bg-gray-500">
            <span class="text-xl font-medium text-white">RW</span>
        </span>
    </div>
    <div>
        <h4 class="text-lg font-bold">Lorem ipsum</h4>
        <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
    </div>
</div>

<div class="flex my-4 py-4">
    <div class="mr-4 shrink-0 self-center">
        <span class="inline-flex size-14 items-center justify-center rounded-full bg-gray-500">
            <span class="text-xl font-medium text-white">JW</span>
        </span>
    </div>
    <div>
        <h4 class="text-lg font-bold">Lorem ipsum</h4>
        <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
    </div>
</div>

<div class="flex my-4 py-4">
    <div class="mr-4 shrink-0 self-center">
        <span class="inline-flex size-14 items-center justify-center rounded-full bg-gray-500">
            <span class="text-xl font-medium text-white">PL</span>
        </span>
    </div>
    <div>
        <h4 class="text-lg font-bold">Lorem ipsum</h4>
        <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
    </div>
</div>